.App {
  text-align: center;
  margin: 15px;
  min-width: 1000px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table tr:first-child{
  font-weight: bold;
}

table tr:first-child > td > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  margin: 10px;
  float: right;
}

.chevronContainer{
  width: 20px;
  height: 20px;
  float: right;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.05em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: -10px;
	transform: rotate(135deg);
}